@CHARSET "UTF-8";

body{
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
.wrapper{
	width:800px;
	margin:0 auto;
	border: #CCC 1px dashed;	
}
.container{
	width:750px;
	margin:10px auto;
}
#pageTitle{
	color:#666;
	padding:5px; 
	overflow:hidden; 
	font-size:1.3em;
	font-weight:bold;
}
label{
	border:#990 0px solid;
	display:block;
	float:left;
	margin:3px;
	color:#666;
	width:120px; 
}
input{
	margin:3px;
	width:300px;
}
form{
	padding:5px;
	border:#93C 0px solid;
	overflow:hidden;
	margin:10px;
}
.wrapper .container table th{
	color: #FFF;
}
.wrapper .container table td{
	color: #000;
}
td>a{
	text-decoration:none;
	color:#666;
}