<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HashtagApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SerachHashtagServlet</display-name>
    <servlet-name>SerachHashtagServlet</servlet-name>
    <servlet-class>controller.SerachHashtagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerachHashtagServlet</servlet-name>
    <url-pattern>/SerachHashtagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHashtagServlet</display-name>
    <servlet-name>ViewHashtagServlet</servlet-name>
    <servlet-class>controller.ViewHashtagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHashtagServlet</servlet-name>
    <url-pattern>/ViewHashtagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateHashtagServlet</display-name>
    <servlet-name>CreateHashtagServlet</servlet-name>
    <servlet-class>controller.CreateHashtagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateHashtagServlet</servlet-name>
    <url-pattern>/CreateHashtagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCommentServlet</display-name>
    <servlet-name>CreateCommentServlet</servlet-name>
    <servlet-class>controller.CreateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCommentServlet</servlet-name>
    <url-pattern>/CreateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>controller.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
</web-app>